.sales-page {
    display: flex;
    flex-direction: column;
    gap: var(--space-section);
    margin: 0 auto;
    padding: var(--space-body);
}

.sales-page-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sales-page-title {
    font-size: var(--h1-size);
    font-weight: var(--h2-weight);
    color: var(--font-color);
    font-family: var(--font-primary);
    margin: 0;
    line-height: 1.2;
}

.tabs-search {
    display: flex;
    justify-content: space-between;
}