:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: var(--font-color);
  color-scheme: light;
}

html, body, #root {
  height: 100vh;
}

#root {
  padding: 8px;
}
